* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  height: 100%;
  background: #eeeeee;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  margin: 1.5rem;
  margin-bottom: 2rem;
  justify-content: center;

  button {
    margin-right: 0.5rem;
  }
}

.canvas {
  display: flex;
  flex: 1 1 auto;
  align-self: center;
  justify-content: center;
  padding: 1.5rem;
  background: #333;
  border: 1px solid #eeeeee;
  border-radius: 30px;
}

.stats {
  border: 1px solid black;
  padding-top: 1rem;
  border-radius: 30px;
  align-self: center;
  min-width: 70%;

  .stat-row {
    justify-content: space-evenly;
    margin-bottom: 0;
  }
}

.stats, .charts {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;

  .stat-row {
    display: flex;
    flex: 1 1 auto;
  }

  .stat-column {
    display: inline-block;
  }

  .stat-field {
    margin-bottom: 1rem;
  }

  .chart-label, .stat-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .fuzzy-input-chart {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-bottom: 1.5rem;

    .chart-label {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid black;
      text-align: center;
    }
  }
}
