* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  height: 100vh;
  background: #eeeeee;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-self: center;
  flex-direction: column;
}

.buttons {
  margin: 1.5rem;
  margin-bottom: 2rem;

  button {
    margin-right: 0.5rem;
  }
}

.canvas {
  display: flex;
  flex: 1 1 auto;
  align-self: center;
  justify-content: center;
  padding: 1.5rem;
  background: #333;
  border: 1px solid #eeeeee;
  border-radius: 30px;
}

.stats, .charts {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-bottom: 1rem;

  .stat-row {
    display: flex;
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
  }

  .stat-column {
    flex-direction: column;
    display: flex;
    flex: 1 1 100%;
  }

  .stat-field {
    margin-bottom: 1rem;
  }

  .chart-label, .stat-label {
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  .fuzzy-input-chart {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .chart-label {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid black;
    }
  }
}
